<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app ng-controller="AppCtrl">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pun Space - Coworking office</title>
    <meta name="description" content="Pun Space is a coworking space in Chiang Mai, Thailand. A fun, friendly shared office" />
    <meta name="keywords" content="coworking,coworking space,coworking office,shared office,chaing mai,cnx,office,internet,nimmanheminda,siri mankalajarn" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="language" content="en-us" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">
    <!--<link rel="stylesheet" type="text/css" href="static/css/style.css" />-->
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/infographic2.css"/>
    <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>


<body>

<section id="hero" class="background-orange slide">
  <div class="container">
      <div class="row">
          <div class="span7">
              <h1 class="logotype white">
                  <span class="subtlesansregular">PUN</span><br/><span class="subtlesanslight">SPACE</span>
              </h1>
              <div class="brandline white">COWORKING IN CHIANG MAI</div>
              <div class="spacer"></div>
          </div>
          <div class="span5">
              <article style="float:right">
                  <section id="description">
                      <h2>A fun, friendly environment to start your productive day!</h2>
                  </section>

                  <div id="signup">
                      <div id="email-submit" class="email-submit">
                          <p>Get notified when we launch!</p>
                          <form class="form-inline">
                              <input type="text" id="input-email" name="input-email" placeholder="Enter your email..."maxlength="50" />
                              <!--<input type="submit" id="subscribe" class="button" name="submit" value="Subscribe"/>-->
                              <button id='subscribe' type="button" class="btn btn-success" data-loading-text="Subscribing...">Subscribe</button>
                          </form>
                          <p class="safe" style="width:400px; padding-bottom:15px;">Pun Space won't give away your email.</p>
                      </div>

                      <p>Follow us :</p>
                      <div id="sociallinks">
                          <a href="http://www.facebook.com/punspace" target="_blank">
                              <img class="icon" src="/static/images/facebook.png" title="Like Facebook Page"/>
                          </a>
                          <a href="http://twitter.com/punspacecnx" target="_blank">
                              <img class="icon" src="static/images/twitter.png" title="Follow Twitter"/>
                          </a>
                          <a href="mailto:contact@punspace.com">
                              <img class="icon" src="static/images/email.png" title="Send Email"/>
                          </a>
                      </div>

                  </div>


              </article>
          </div>
      </div>
    <!--<div class="ribbon">-->
    <!--<div class="ribbon-content">COMING MARCH 2013</div>-->
    <!--</div>-->
      <div class="row">
          <div class="small-spacer"></div>
          <div class="span12">
              <div class="tagline white">COMING MARCH 2013</div>
          </div>
      </div>
    <div class="spacer"></div>

  </div>

</section>

<section id="facilities" class="background-grey slide">
  <div class="container">
    <h1 class="white">Facilities</h1>
    <div class="row">
      <div class="span6">
        <img src="/static/images/perspective_006.jpg" alt=""/>
      </div>
      <div class="span6">
        <img src="/static/images/perspective_008.jpg" alt=""/>
      </div>
    </div>
  </div>
</section>
<section id="facilities2" class="background-grey slide">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="547.927px" height="415.511px" viewBox="0 0 547.927 415.511" enable-background="new 0 0 547.927 415.511"
	 xml:space="preserve">
<g>
	<g>
		<path fill="#f15b41" d="M381.093,273.698c6.52-2.939,6.451-9.5,6.451-9.5V140.761c0-6.746-4.278-9.726-6.338-10.774l-93.25-40.558
			c-4.699-2.044-8.614-1.031-10.292-0.39l-0.876,0.39h-0.001l0,0l-92.282,40.923c-4.984,2.215-6.259,5.818-6.538,8.129v127.299
			c0.287,3.001,1.682,7.769,7.39,10.27l88.594,38.776l2.095,0.918c2.69,0.927,7.753,1.863,13.913-0.912L381.093,273.698
			L381.093,273.698z"/>
	</g>
	<path fill="#FFFFFF" d="M359.604,198.902c-1.933-1.252-4.37-1.44-6.471-0.504l-64.477,28.754v-36.488l68.849-30.852
		c2.452-1.102,4.027-3.543,4.02-6.231c-0.008-2.688-1.603-5.121-4.064-6.202l-72.861-32.043c-1.752-0.771-3.744-0.768-5.497,0.008
		l-72.252,32.044c-2.461,1.091-4.046,3.525-4.046,6.218v96.634c0,3.759,3.045,6.802,6.801,6.802c3.757,0,6.802-3.043,6.802-6.802
		v-86.211l58.646,25.793v47.811c0,2.303,1.167,4.452,3.101,5.707c1.932,1.251,4.371,1.441,6.47,0.507l64.478-28.754v31.779
		l-67.925,30.245c-3.432,1.529-4.972,5.551-3.445,8.979c1.127,2.534,3.612,4.036,6.218,4.036c0.923,0,1.862-0.19,2.761-0.588
		L358.67,257.5c2.453-1.091,4.034-3.526,4.034-6.213v-46.679C362.704,202.307,361.537,200.156,359.604,198.902z M281.87,128.996
		l56.093,24.667l-55.144,24.712l-56.379-24.794L281.87,128.996z"/>
</g>
</svg>

    <div class="container">
    <h1 class="white">Amenitites</h1>
    <div class="row">
      <ul class="facility-list white">
        <li class="facility"><span class="facility large">34</span> hot seats<span class="pull-right">Meeting room with <span class="facility large">big-screen TV</span></span></li>
        <li class="facility">High-speed, <span class="facility large">reliable</span> WIFI<span class="pull-right">Private offices</span></li>
        <li class="facility"><span class="facility large">Comfortable</span> chairs<span class="pull-right">Monitors for rent</span></li>
        <li class="facility">Printer, scanner, copier, fax machine</li>
        <li class="facility large">Phone booth</li>
      </ul>
    </div>
  </div>
</section>
<section id="facilities3" class="background-grey slide">
    <div class="container">
        <h1 class="white">Floor Plan</h1>
        <div class="row">
            <img src="/static/images/S_01_LAY_OUT_FURNITURE_PLAN_FLOOR_1_AND_FLOOR_2.jpg" alt="">
        </div>
    </div>
</section>

<section id="location" class="background-yellow slide">
  <div class="container">
    <h1 class="white">Location <span class="muted">2 mins from Nimman</span></h1>
    <p class="white">14 Siri Mangkalajarn Lane 11, 2br office centre</p>
    <div id="map_canvas"></div>
  </div>
</section>

<section id="pricing" class="background-green slide">
  <div class="container">
    <h1 class="white">Pricing</h1>
    <div class="row white">
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Daily</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;199</div>
        </div>
      </div>
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Weekly</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;999</div>
        </div>
      </div>
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Monthly</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;3,499</div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBf9_6dgjtdzdn1lqYPWn209VPUN6Kv040&sensor=false">
</script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/js/controller.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
