<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app ng-controller="AppCtrl">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Pun Space: Coworking Office in Chiang Mai</title>
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/infographic.css"/>
</head>
<body>

<section id="hero" class="background-orange">
  <div class="container">
    <h1 class="logotype white">
      <span class="subtlesansregular">PUN</span><br/><span class="subtlesanslight">SPACE</span>
    </h1>
    <div class="brandline white">COWORKING IN CHIANG MAI</div>
    <div class="spacer"></div>
    <div class="tagline white">COMING MARCH 2013</div>
    <!--<div class="ribbon">-->
    <!--<div class="ribbon-content">COMING MARCH 2013</div>-->
    <!--</div>-->
    <div class="spacer"></div>
  </div>
</section>

<section id="facilities" class="background-grey">
  <div class="container">
    <h1 class="white">Facilities</h1>
    <div class="row">
      <div class="span6">
        <img src="/static/images/perspective_006.jpg" alt=""/>
      </div>
      <div class="span6">
        <img src="/static/images/perspective_008.jpg" alt=""/>
      </div>
    </div>
    <div class="row">
      <ul class="facility-list white">
        <li class="facility"><span class="facility large">34</span> hot seats<span class="pull-right">Meeting room with <span class="facility large">big-screen TV</span></span></li>
        <li class="facility">High-speed, <span class="facility large">reliable</span> WIFI<span class="pull-right">Private offices</span></li>
        <li class="facility"><span class="facility large">Comfortable</span> chairs</li>
        <li class="facility">Printer, scanner, copier, fax machine</li>
        <li class="facility large">Phone booth</li>
      </ul>
    </div>
    <img src="/static/images/S_01_LAY_OUT_FURNITURE_PLAN_FLOOR_1_AND_FLOOR_2.jpg" alt="">
  </div>
</section>

<section id="location" class="background-yellow">
  <div class="container">
    <h1 class="white">Location <span class="muted">2 mins from Nimman</span></h1>
    <p class="white">14 Siri Mangkalajarn Lane 11, 2br office centre</p>
    <div id="map_canvas"></div>
  </div>
</section>

<section id="pricing" class="background-green">
  <div class="container">
    <h1 class="white">Pricing</h1>
    <div class="row white">
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Daily</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;199</div>
        </div>
      </div>
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Weekly</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;999</div>
        </div>
      </div>
      <div class="span4">
        <div class="price-plan">
          <div class="price-label">Monthly</div>
          <div class="price-spacer"></div>
          <div class="price">&#3647;3,499</div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBf9_6dgjtdzdn1lqYPWn209VPUN6Kv040&sensor=false">
</script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/js/controller.js"></script>
</body>
</html>
