<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app ng-controller="AppCtrl">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta name="Description"
        content="Pun Space is a coworking space in Chiang Mai, Thailand. Located 2 minutes from Nimman area."/>
  <meta http-equiv="Content-Type" CONTENT="text/html; charset=utf-8"/>
  <title>Coworking Space in Chiang Mai | Pun Space</title>

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/main.css">
  <!--<link rel="stylesheet" type="text/css" href="static/css/style.css" />-->
  <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/infographic2.css"/>
  <script src="static/js/vendor/modernizr-2.6.2.min.js"></script>
</head>


<body>

<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    <a class="brand" href="#"><img class="nav-logo" src="/static/images/logo_icon_red.png" title="Pun Space"/> PUN<span class="light">SPACE</span></a>
    <ul class="nav">
      <li><a href="#coworking">About Us</a></li>
      <li><a href="#perspectives01">Galleries</a></li>
      <li><a href="#location">Location</a></li>
      <li><a href="#pricing">Pricing</a></li>
      <li><a href="#member-privilege">Member Privileges</a></li>
    </ul>
    </div>
  </div>
</div>

<section id="hero" class="background-orange slide">
  <div class="logo center background-yellow">
    <div class="logotype radiate-on-hover">PUN<span class="light">SPACE</span></div>
    <div class="brandline radiate-on-hover">COWORKING CHIANG MAI</div>
  </div>
  <div class="hero center">
    <div class="hero-title">
      <span class="radiate-on-hover" id="open-march-4th">WE'RE <span class="strong">OPEN NOW</span></span><br/>
      <span class="radiate-on-hover" id="free-desk"><span class="strong">FREE</span> DESK</span><br/>
      <span class="radiate-on-hover" id="entire-march">FOR ENTIRE MARCH</span><br>
      <span class="radiate-on-hover" id="free-trial-march">ทดลองใช้ฟรี ตลอดเดือน มีนาคม</span>
    </div>
  </div>
  <div id="email-submit" class="email-submit center background-yellow grey">
    <span>Follow us on</span>
    <span id="sociallinks">
      <a href="http://www.facebook.com/punspace" target="_blank">
        <img class="icon" src="/static/images/facebook.png" title="Like Facebook Page"/>
      </a>
      <a href="http://twitter.com/punspace" target="_blank">
        <img class="icon" src="static/images/twitter.png" title="Follow Twitter"/>
      </a>
      <a href="mailto:contact@punspace.com">
        <img class="icon" src="static/images/email.png" title="Send Email"/>
      </a>
    </span>
    <span>or subscribe to our updates&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <form class="form-inline">
      <input type="text" id="input-email" name="input-email" placeholder="Enter your email..." maxlength="50"/>
      <button id='subscribe' type="button" class="btn btn-danger" data-loading-text="Subscribing...">Subscribe</button>
    </form>
  </div>

  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="span12 background-yellow notifications">-->
        <!--<h3 class="grey">Membership and Private Office Pricing Annoucement!</h3>-->

        <!--<p class="grey">Click <a href="#pricing">here</a> for pricing information. Reserve your private office today-->
          <!--by emailing your request to <a href="mailto:contact@punspace.com?Subject=Inquiry">contact@punspace.com</a> or-->
          <!--call 089-851-1551.</p>-->
      <!--</div>-->

    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="span12">-->
        <!--<div class="logoicon center" aria-hidden="true" data-icon="P"></div>-->
        <!--<div class="logo center background-yellow">-->
          <!--<h1 class="logotype">PUN<span class="light">SPACE</span></h1>-->
          <!--<h2 class="brandline">COWORKING CHIANG MAI</h2>-->
        <!--</div>-->
        <!--<div class="hero-title center">OPEN MARCH 4th</div>-->
      <!--</div>-->
      <!--<div class="span5 grey">-->
        <!--<article style="float:right">-->
          <!--<section id="description">-->
            <!--<h2>A fun, friendly environment to start your productive day!</h2>-->
          <!--</section>-->

          <!--<div id="signup">-->
            <!--<div id="email-submit" class="email-submit">-->
              <!--<p>Get notified when we launch!</p>-->

              <!--<form class="form-inline">-->
                <!--<input type="text" id="input-email" name="input-email" placeholder="Enter your email..."-->
                       <!--maxlength="50"/>-->
                <!--&lt;!&ndash;<input type="submit" id="subscribe" class="button" name="submit" value="Subscribe"/>&ndash;&gt;-->
                <!--<button id='subscribe' type="button" class="btn btn-success" data-loading-text="Subscribing...">-->
                  <!--Subscribe-->
                <!--</button>-->
              <!--</form>-->
              <!--<p class="safe" style="width:400px; padding-bottom:15px;">Pun Space won't give away your email.</p>-->
            <!--</div>-->

            <!--<p>Follow us :</p>-->

            <!--<div id="sociallinks">-->
              <!--<a href="http://www.facebook.com/punspace" target="_blank">-->
                <!--<img class="icon" src="/static/images/facebook.png" title="Like Facebook Page"/>-->
              <!--</a>-->
              <!--<a href="http://twitter.com/punspacecnx" target="_blank">-->
                <!--<img class="icon" src="static/images/twitter.png" title="Follow Twitter"/>-->
              <!--</a>-->
              <!--<a href="mailto:contact@punspace.com">-->
                <!--<img class="icon" src="static/images/email.png" title="Send Email"/>-->
              <!--</a>-->
            <!--</div>-->

          <!--</div>-->


        <!--</article>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="small-spacer"></div>-->
      <!--<div class="span12">-->
        <!--<div class="tagline">COMING MARCH 2013</div>-->
        <!--<div class="center yellow">Scroll down for more info</div>-->
        <!--<div class="arrow-down"></div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="spacer"></div>-->
  </div>
</section>

<section id="office-hours" class="background-yellow slide">
  <div class="container">
    <h1 class="section-title">Office hours <span class="muted"></span></h1>
    <p class="lead">7 days a week. 9am to 9 pm.</p>
  </div>
</section>

<section id="coworking" class="background-green slide">
  <div class="container">
    <h1 class="section-title">About Us</h1>

    <div class="row">
      <!--<div class="span8">-->
      <!--<p>A coworking space like Pun Space offers a new way of working.-->
      <!--With <strong class="yellow">ergonomic chairs</strong> and <strong class="yellow">reliable, high-speed Internet</strong>,-->
      <!--you can work comfortably for a longer period of time and waste less time waiting for online content to load.</p>-->
      <!--<p>Unlike working at coffee places around Nimman, </p>-->
      <!--</div>-->
      <div class="span6">
        <p class="lead">Pun Space is a new <strong class="yellow">coworking space</strong> in
          <strong class="yellow">Chiang Mai</strong> (opening in March 2013), located 2 minutes from Nimman area.
          "Pun" in Thai (ปัน) means "share". So Pun Space simply translates to "Shared Space".</p>
          <p class="lead">We are open everyday 9am to 9pm</p>
      </div>
      <div class="span6">
          <p class="lead">Pun Space is a fun, friendly and collaborative workspace. It’s not just a shared office but a
              place where you can meet <strong class="yellow">new friends and business partners</strong>,
              where you can <strong class="yellow">work comfortably</strong> without overstaying your welcome
              like working in a coffee shop, a place where you can leave your laptop out without worrying.
              Come come check out our space and become a part of our <strong class="yellow">community.</strong></p>
      </div>
    </div>
  </div>
</section>

<section id="perspectives01" class="background-grey slide">
  <div class="container">
    <h1 class="section-title">Interior Design <span class="yellow">Perspectives 01</span></h1>

    <div class="row">
      <div class="span6">
        <img src="/static/images/cam_01.jpg" alt="Left wing perspective"/>
      </div>
      <div class="span6">
        <img src="/static/images/cam_02.jpg" alt="Meeting area perspective"/>
      </div>
    </div>
  </div>
</section>

<section id="perspectives02" class="background-green slide">
  <div class="container">
    <h1 class="section-title">Interior Design <span class="yellow">Perspectives 02</span></h1>

    <div class="row">
      <div class="span6">
        <img src="/static/images/cam_03.jpg" alt="Right wing perspective"/>
      </div>
      <div class="span6">
        <img src="/static/images/cam_04.jpg" alt="Front desk perspective"/>
      </div>
    </div>
  </div>
</section>

<section id="amenities" class="background-grey slide">
  <div class="container">
    <h1 class="section-title">Amenities</h1>

    <div class="row">
      <ul class="facility-list yellow">
        <li class="facility"><span class="facility large">34</span> hot seats<span class="pull-right">Meeting room with <span
            class="facility large">big-screen TV</span></span></li>
        <li class="facility">High-speed, <span class="facility large">reliable</span> WIFI<span class="pull-right">Private offices</span>
        </li>
        <li class="facility"><span class="facility large">Comfortable</span> chairs<span class="pull-right">Monitors for rent</span>
        </li>
        <li class="facility">Printer, scanner, copier, fax machine</li>
        <li class="facility large">Phone booth</li>
      </ul>
    </div>
  </div>
</section>

<section id="location" class="background-yellow slide">
  <div class="container">
    <h1 class="section-title">Location <span class="muted">2 mins from Nimman</span></h1>

    <p>14 Siri Mangkalajarn Lane 11, 2br office centre</p>

    <div id="map_canvas"></div>
  </div>
</section>

<!--<section id="pricing-old" class="background-green slide">-->
<!--<div class="container">-->
<!--<h1>Pricing <span class="yellow">(Suggested prices*)</span></h1>-->
<!--<div class="row">-->
<!--<div class="span4">-->
<!--<div class="price-plan">-->
<!--<div class="price-label">Daily</div>-->
<!--<div class="price-spacer"></div>-->
<!--<div class="price">&#3647;199</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="span4">-->
<!--<div class="price-plan">-->
<!--<div class="price-label">Weekly</div>-->
<!--<div class="price-spacer"></div>-->
<!--<div class="price">&#3647;999</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="span4">-->
<!--<div class="price-plan">-->
<!--<div class="price-label">Monthly</div>-->
<!--<div class="price-spacer"></div>-->
<!--<div class="price">&#3647;3,499</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="span12">-->
<!--<div class="spacer"></div>-->
<!--<p class="footnote">*These are suggested prices. Final prices may vary. We reserve the right to change our prices without prior notice.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<section id="pricing" class="background-green slide">
  <div class="container">
    <h1 class="section-title">Pricing</h1>

    <h2 class="section-subtitle">Passes (Non-member)</h2>
    <table class="price-table table table-bordered">
      <thead>
        <tr>
          <th class="table-header">Day pass</th>
          <th class="table-header">Week pass</th>
          <th class="table-header">Flexi 10 days<br/>(valid 30 days)</th>
          <th class="table-header">Flexi 20 days<br/>(valid 60 days)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="yellow price">&#x0E3F;{{ prices['day-pass']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['week-pass']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['flexi']['10']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['flexi']['20']*.9 | number:0 }}*</td>
        </tr>
      </tbody>
    </table>

    <h2 class="section-subtitle">Membership</h2>
    <table class="price-table table table-bordered">
      <thead>
        <tr>
          <!--<th class="table-header"></th>-->
          <!--<th class="table-header">Weekly</th>-->
          <th class="table-header">Monthly</th>
          <th class="table-header">Quarterly</th>
          <th class="table-header">Half-yearly</th>
          <th class="table-header">Yearly</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--<td class="price-package">Member</td>-->
          <!--<td class="yellow price">&#x0E3F;{{ prices['member']['weekly']*.9 | number:0 }}*</td>-->
          <td class="yellow price">&#x0E3F;{{ prices['member']['monthly']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['member']['quarterly']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['member']['half-yearly']*.9 | number:0 }}*</td>
          <td class="yellow price">&#x0E3F;{{ prices['member']['yearly']*.9 | number:0 }}*</td>
        </tr>
      </tbody>
    </table>

    <h2 class="section-subtitle">Private office</h2>
    <table class="price-table table table-bordered">
      <thead>
        <tr>
          <th class="table-header"></th>
          <th class="table-header">Weekly</th>
          <th class="table-header">Monthly</th>
          <th class="table-header">Quarterly</th>
          <th class="table-header">Half-yearly</th>
          <th class="table-header">Yearly</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td class="price-package">Large (includes 3 memberships)</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'weekly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'monthly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'quarterly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'half-yearly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'yearly')*.9 | number:0 }}*</td>
      </tr>
      <tr>
        <td class="price-package">Small (includes 2 memberships)</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'weekly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'monthly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'quarterly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'half-yearly')*.9 | number:0 }}*</td>
        <td class="yellow price">&#x0E3F;{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'yearly')*.9 | number:0 }}*</td>
      </tr>
      </tbody>
    </table>



    <!--<table class="price-table table table-bordered">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th class="table-header" rowspan="3"></th>-->
        <!--<th class="table-header" rowspan="2" colspan="2">Membership</th>-->
        <!--<th class="table-header" colspan="4">Private Office</th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th class="table-header" colspan="2">Small (2 memberships included)</th>-->
        <!--<th class="table-header" colspan="2">Large (3 memberships included)</th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th class="table-header">Regular</th>-->
        <!--<th class="table-header yellow">Promotion*</th>-->
        <!--<th class="table-header">Regular</th>-->
        <!--<th class="table-header yellow">Promotion*</th>-->
        <!--<th class="table-header">Regular</th>-->
        <!--<th class="table-header yellow">Promotion*</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr>-->
        <!--<td class="price-package">Daily</td>-->
        <!--<td class="regular-price">{{ prices['member']['daily'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['daily']*.9 | number:0 }}</td>-->
        <!--<td>-</td>-->
        <!--<td>-</td>-->
        <!--<td>-</td>-->
        <!--<td>-</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="price-package">Weekly</td>-->
        <!--<td class="regular-price">{{ prices['member']['weekly'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['weekly']*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'weekly') | number:0 }}</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'weekly')*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'weekly') | number:0 }}</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'weekly')*.9 | number:0 }}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="price-package">Monthly</td>-->
        <!--<td class="regular-price">{{ prices['member']['monthly'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['monthly']*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'monthly') | number:0 }}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'monthly')*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'monthly') | number:0 }}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'monthly')*.9 | number:0 }}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="price-package">Quarterly</td>-->
        <!--<td class="regular-price">{{ prices['member']['quarterly'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['quarterly']*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'quarterly') | number:0 }}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'quarterly')*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'quarterly') | number:0 }}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'quarterly')*.9 | number:0 }}</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="price-package">Half-yearly</td>-->
        <!--<td class="regular-price">{{ prices['member']['half-yearly'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['half-yearly']*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'half-yearly') | number:0-->
          <!--}}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'half-yearly')*.9 | number:0 }}-->
        <!--</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'half-yearly') | number:0-->
          <!--}}-->
        <!--</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'half-yearly')*.9 | number:0 }}-->
        <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="price-package">Yearly</td>-->
        <!--<td class="regular-price">{{ prices['member']['yearly'] | number:0 }}</td>-->
        <!--<td class="yellow">{{ prices['member']['yearly']*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'yearly') | number:0 }}</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('small-office', 2, 'yearly')*.9 | number:0 }}</td>-->
        <!--<td class="regular-price">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'yearly') | number:0 }}</td>-->
        <!--<td class="yellow">{{ getPrivateOfficePlusMembershipPrice('large-office', 3, 'yearly')*.9 | number:0 }}</td>-->
      <!--</tr>-->

      <!--<tr>-->
      <!--<td>Monthly</td>-->
      <!--<td>3,499</td>-->
      <!--<td>899</td>-->
      <!--<td>1,199</td>-->
      <!--<td>69</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>Weekly</td>-->
      <!--<td>8,999</td>-->
      <!--<td>3,149</td>-->
      <!--<td>4,199</td>-->
      <!--<td>279</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>Weekly</td>-->
      <!--<td>999</td>-->
      <!--<td>899</td>-->
      <!--<td>1,199</td>-->
      <!--<td>69</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td>Weekly</td>-->
      <!--<td>999</td>-->
      <!--<td>899</td>-->
      <!--<td>1,199</td>-->
      <!--<td>69</td>-->
      <!--</tr>-->
      </tbody>
    </table>
    <div class="row">
      <div class="span12">
        <!--<div class="spacer"></div>-->
        <!--<p class="footnote">* Require 2 members.</p>-->
        <!--<p class="footnote">** Require at least 3 members.</p>-->
        <p class="footnote yellow">* These 10%-discount introductory rates are valid until April 30th, 2013</p>
      </div>
    </div>
  </div>
</section>

<section id="pricing02" class="background-grey slide">
  <div class="container">
    <h1 class="section-title">Pricing (cont.)</h1>

    <h2 class="section-subtitle">Meeting room</h2>
    <table class="price-table table table-bordered">
      <thead>
      <tr>
        <th class="table-header" rowspan="2"></th>
        <th class="table-header" colspan="2">Hourly</th>
        <th class="table-header" colspan="2">Half day (4 hrs)</th>
        <th class="table-header" colspan="2">Full day (8 hrs)</th>
      </tr>
      <tr>
        <th class="table-header">Member</th>
        <th class="table-header">Non-member</th>
        <th class="table-header">Member</th>
        <th class="table-header">Non-member</th>
        <th class="table-header">Member</th>
        <th class="table-header">Non-member</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="price-package">Large (max 8 persons)</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['hourly'] | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['hourly']*3 | number:0 }}</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['half-day'] | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['half-day']*3 | number:0 }}</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['full-day'] | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['full-day']*3 | number:0 }}</td>
      </tr>
      <tr>
        <td class="price-package">Small (max 4 persons)</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['hourly']*.5 | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['hourly']*.5*3 | number:0 }}</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['half-day']*.5 | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['half-day']*.5*3 | number:0 }}</td>
        <td class="yellow">&#x0E3F;{{ prices['meeting']['full-day']*.5 | number:0 }}</td>
        <td>&#x0E3F;{{ prices['meeting']['full-day']*.5*3 | number:0 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
<section id="member-privilege" class="background-yellow slide">
    <div class="container">
        <h1 class="section-title">Member Privileges<span class="muted"></span></h1>
        <table id="privilege" class="table">
            <thead>
                <tr>
                    <th class="table-header"></th>
                    <th class="table-header">Day Pass</th>
                    <th class="table-header">Flex Cards</th>
                    <th class="table-header">Monthly</th>
                    <th class="table-header">Quarterly</th>
                    <th class="table-header">Half-yearly</th>
                    <th class="table-header">Yearly</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>High Speed Internet</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Fax, Printer, Scanner Service</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>24/7 Access</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Free Guest Visit</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Meeting room hrs</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>Free 1hr/month</td>
                <td>Free 2hr/month</td>
                <td>Free 4hr/month</td>
            </tr>
            <tr>
                <td>Audio Visual equipments</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Locker</td>
                <td>✘</td>
                <td>✘</td>
                <td>✘</td>
                <td>✔</td>
                <td>✔</td>
                <td>✔</td>
            </tr>
            <tr>
                <td>Water, Coffee, Snacks</td>
                <td>Free</td>
                <td>Free</td>
                <td>Free</td>
                <td>Free</td>
                <td>Free</td>
                <td>Free</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBf9_6dgjtdzdn1lqYPWn209VPUN6Kv040&sensor=false">
</script>
<script type="text/javascript" src="/static/js/vendor/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/js/controller.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>
</body>
</html>
