<!DOCTYPE html>
<html>
<head>
  <title>Pun Space | Logo</title>
  <link rel="stylesheet" href="/static/css/logo.css"/>
</head>
<body>

<div class="logo logo-horizontal background-green white">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>PUN</strong>SPACE</div>
  <div class="brandline background-gre">COWORKING CHIANG MAI</div>
</div>

<p>seperator</p>

<div class="logo background-green white">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>PUN</strong>SPACE</div>
  <div class="brandline background-gree">COWORKING CHIANG MAI</div>
</div>

<p>seperator</p>

<div class="logo logo-horizontal logo-thai background-gree black">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>ปัน</strong>สเปซ</div>
  <div class="brandline background-gree">โคเวิร์คกิ้ง เชียงใหม่</div>
</div>

<p>seperator</p>

<div class="logo logo-thai background-gree grey">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>ปัน</strong>สเปซ</div>
  <div class="brandline background-gree">โคเวิร์คกิ้ง เชียงใหม่</div>
</div>

</body>
</html>