<!DOCTYPE html>
<html>
<head>
  <title>Punspace | Logo</title>
  <link rel="stylesheet/less" type="text/css" href="/static/css/common.less" />
  <link rel="stylesheet/less" type="text/css" href="/static/css/fonts.less" />
  <link rel="stylesheet" type="text/css" href="/static/css/logo.css" />
</head>
<body>

<!--<div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>-->
<!--<div class="logotype"><strong>PUN</strong>SPACE</div>-->
<!--<div class="brandline">COWORKING CHIANG MAI</div>-->

<!--<div class="logotype-thai"><strong>ปัน</strong>สเปซ</div>-->
<!--<div class="brandline">COWORKING CHIANG MAI</div>-->

<div class="logo logo-no-brandlin background-orange white" style="font-size: 50px;">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>PUN</strong>SPACE</div>
  <div class="brandline background-gree">COWORKING CHIANG MAI</div>
</div>

<p>seperator</p>

<div class="logo logo-horizontal logo-no-brandlin background-orange white">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype background-yello"><strong>PUN</strong>SPACE</div>
  <div class="brandline background-gree">COWORKING CHIANG MAI</div>
</div>

<p>seperator</p>

<div class="logo logo-horizontal logo-no-brandlin background-green black" style="font-size: 30px;">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype logotype-thai background-yello"><strong>ปัน</strong>สเปซ</div>
  <div class="brandline brandline-thai background-gree">โคเวิร์คกิ้ง เชียงใหม่</div>
</div>

<p>seperator</p>

<div class="logo logo-no-brandlin background-green black">
  <div class="logosymbol background-gree" aria-hidden="true" data-icon="P"></div>
  <div class="logotype logotype-thai background-yello"><strong>ปัน</strong>สเปซ</div>
  <div class="brandline brandline-thai background-gree">โคเวิร์คกิ้ง เชียงใหม่</div>
</div>

<script src="/static/lib/less/less-1.3.3.min.js" type="text/javascript"></script>
</body>
</html>