@font-url: '/static/font';
@pesto-font-url: '@{font-url}/pesto';
@rsu-font-url: '@{font-url}/rsu';
@subtlesans-font-url: '@{font-url}/subtlesans';


@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-bold-webfont.eot');
  src: url('@{pesto-font-url}/pesto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-bold-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-bold-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-bold-webfont.svg#pestobold') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-bolditalic-webfont.eot');
  src: url('@{pesto-font-url}/pesto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-bolditalic-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-bolditalic-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-bolditalic-webfont.svg#pestobold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-book-webfont.eot');
  src: url('@{pesto-font-url}/pesto-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-book-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-book-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-book-webfont.svg#pestobook') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-bookitalic-webfont.eot');
  src: url('@{pesto-font-url}/pesto-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-bookitalic-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-bookitalic-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-bookitalic-webfont.svg#pestobookitalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-italic-webfont.eot');
  src: url('@{pesto-font-url}/pesto-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-italic-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-italic-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-italic-webfont.svg#pestoitalic') format('svg');
  font-style: italic;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-light-webfont.eot');
  src: url('@{pesto-font-url}/pesto-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-light-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-light-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-light-webfont.svg#pestolight') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-lightitalic-webfont.eot');
  src: url('@{pesto-font-url}/pesto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-lightitalic-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-lightitalic-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-lightitalic-webfont.svg#pestolight_italic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Pesto;
  src: url('@{pesto-font-url}/pesto-regular-webfont.eot');
  src: url('@{pesto-font-url}/pesto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{pesto-font-url}/pesto-regular-webfont.woff') format('woff'),
       url('@{pesto-font-url}/pesto-regular-webfont.ttf') format('truetype'),
       url('@{pesto-font-url}/pesto-regular-webfont.svg#pestoregular') format('svg');
}

@font-face {
  font-family: RSU;
  src: url('@{rsu-font-url}/rsu_bold-webfont.eot');
  src: url('@{rsu-font-url}/rsu_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{rsu-font-url}/rsu_bold-webfont.woff') format('woff'),
       url('@{rsu-font-url}/rsu_bold-webfont.ttf') format('truetype'),
       url('@{rsu-font-url}/rsu_bold-webfont.svg#rsubold') format('svg');
  font-weight: bold;
}

@font-face {
  font-family: RSU;
  src: url('@{rsu-font-url}/rsu_light-webfont.eot');
  src: url('@{rsu-font-url}/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{rsu-font-url}/rsu_light-webfont.woff') format('woff'),
       url('@{rsu-font-url}/rsu_light-webfont.ttf') format('truetype'),
       url('@{rsu-font-url}/rsu_light-webfont.svg#rsulight') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: RSU;
  src: url('@{rsu-font-url}/rsu_regular-webfont.eot');
  src: url('@{rsu-font-url}/rsu_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{rsu-font-url}/rsu_regular-webfont.woff') format('woff'),
       url('@{rsu-font-url}/rsu_regular-webfont.ttf') format('truetype'),
       url('@{rsu-font-url}/rsu_regular-webfont.svg#rsuregular') format('svg');
}

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesanslight-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.svg#subtlesanslightregular') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesansregular-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.svg#subtlesansregularregular') format('svg');
}

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesansultralight-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesansultralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.svg#subtlesansultralightregular') format('svg');
  font-weight: 100;
}