@font-url: '/static/font';
@subtlesans-font-url: '@{font-url}/subtlesans';

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesanslight-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesanslight-webfont.svg#subtlesanslightregular') format('svg');
  font-weight: 200;
}

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesansregular-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesansregular-webfont.svg#subtlesansregularregular') format('svg');
}

@font-face {
  font-family: 'Subtle Sans';
  src: url('@{subtlesans-font-url}/subtlesansultralight-webfont.eot');
  src: url('@{subtlesans-font-url}/subtlesansultralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.woff') format('woff'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.ttf') format('truetype'),
       url('@{subtlesans-font-url}/subtlesansultralight-webfont.svg#subtlesansultralightregular') format('svg');
  font-weight: 100;
}