/*
 * Individual logo elements
 */

.logotype {
  font-family: "Subtle Sans", Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .26785714285em;   /* (.375 / 1.4) */
  text-transform: lowercase;
}

.logotype strong {
  font-weight: normal;
}

.brandline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: .66666666666em;   /* (.2 / .3) */
}

.logotype.logotype-thai {
  font-family: Pesto, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.05154639175em;  /* (.125 / 2.425) */
}

.logotype.logotype-thai strong {
  font-weight: normal;
}

.brandline.brandline-thai {
  font-family: RSU, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.16666666666em;  /* (.075 / .45) */
}


/*
 * Vertical logo (default)
 */

.logo {
  font-size: 40px;
  height: 5.5em;
  padding: 1em;
  width: 8.25em;
}

.logo .logosymbol {
  font-size: 2.75em;
  height: 50%;
  text-align: center;
  width: 100%;
}

.logo .logotype {
  font-size: 1.4em;
  height: 18.181818181%;        /* (1 / 5.5) */
  line-height: .625em;          /* (.875 / 1.4) */
  margin-top: 12.121212121%;    /* (1 / 8.25) */
  text-align: center;
  width: 100%;
}

.logo .brandline {
  font-size: 0.3em;
  height: 4.545454545%;         /* (.25 / 5.5) */
  line-height: 0.83333333333em; /* (.25 / .3) */
  margin-top: 6.06060606%;      /* (.5 / 8.25) */
  text-align: center;
  width: 100%;
}

.logo .logotype.logotype-thai {
  font-size: 2.425em;
  line-height: 0.44329896907em; /* (1.075 / 2.425) */
}

.logo .brandline.brandline-thai {
  font-size: 0.45em;
  line-height: 0.61111111111em; /* (.275 / .45) */
}

.logo.logo-no-brandline {
  height: 4.75em;
}

.logo.logo-no-brandline .logosymbol {
  height: 57.894736842%;        /* (2.75 / 4.75) */
}

.logo.logo-no-brandline .logotype {
  height: 21.052631578%;        /* (1 / 4.75) */
}


/*
 * Horizontal logo
 */

.logo.logo-horizontal {
  height: 2.75em;
  width: 12em;
}

.logo.logo-horizontal .logosymbol {
  float: left;
  height: 100%;
  width: 22.916666666%;         /* (2.75 / 12) */
}

.logo.logo-horizontal .logotype {
  float: left;
  height: 36.363636363%;        /* (1 / 2.75) */
  margin-left: 8.125%;          /* (0.975 / 12) */
  margin-top: 4.166666666%;     /* (.5 / 12) */
  text-align: left;
  width: 68.75%;                /* (8.25 / 12) */
}

.logo.logo-horizontal .brandline {
  float: left;
  height: 9.09090909%;          /* (.25 / 2.75) */
  margin-bottom: 4.166666666%;  /* (.5 / 12) */
  margin-left: 8.333333333%;    /* (1 / 12) */
  margin-top: 4.166666666%;     /* (.5 / 12) */
  text-align: left;
  width: 68.75%;                /* (8.25 / 12) */
}

.logo.logo-horizontal .logotype.logotype-thai {
  margin-left: 7.5%;            /* (.9 / 12) */
}

.logo.logo-horizontal.logo-no-brandline .logotype {
  margin-top: 7.291666666%;     /* (.875 / 12) */
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-Logo-Icon:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-Logo-Icon:before {
    content: "\50";
}
