@X: 40px;


.logo {
    height: (@X * 5.5);
    padding: @X;
    width: (@X * 8.25);
}

.logosymbol {
    font-size: (@X * 2.75);
    height: (@X * 2.75);
    text-align: center;
    width: (@X * 8.25);
}

.logotype {
    font-family: "Subtle Sans", Arial, sans-serif;
    font-size: (@X * 1.4);
    font-weight: 200;
    height: @X;
    letter-spacing: (@X * 0.375);
    line-height: (@X * 0.875);
    margin-top: @X;
    text-align: center;
    text-transform: lowercase;
    width: (@X * 8.25);
}

.logotype strong {
    font-weight: normal;
}

.brandline {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: (@X * 0.3);
    height: (@X * 0.25);
    letter-spacing: (@X * 0.2);
    line-height: (@X * 0.25);
    margin-top: (@X * 0.5);
    text-align: center;
    width: (@X * 8.25);
}

.logo-horizontal {
    height: (@X * 2.75);
    width: (@X * 12);
}

.logo-horizontal .logosymbol {
    float: left;
    width: (@X * 2.75);
}

.logo-horizontal .logotype {
    float: left;
    margin-top: (@X * 0.5);
    margin-left: (@X * 0.975);
    text-align: left;
}

.logo-horizontal .brandline {
    float: left;
    margin-left: @X;
    margin-bottom: (@X * 0.5);
    text-align: left;
}

.logo-thai .logotype {
    font-family: Pesto, Arial, sans-serif;
    font-size: (@X * 2.425);
    font-weight: 200;
    letter-spacing: (@X * 0.125);
    line-height: (@X * 1.075);
}

.logo-thai .logotype strong {
    font-weight: normal;
}

.logo-thai .brandline {
    font-family: RSU, Arial, sans-serif;
    font-size: (@X * 0.45);
    font-weight: 200;
    letter-spacing: (@X * 0.075);
    line-height: (@X * 0.275);
}

.logo-thai.logo-horizontal .logotype {
    margin-left: (@X * 0.9);
}


/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-Logo-Icon:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-Logo-Icon:before {
    content: "\50";
}
